<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="index.css">
    <script src="bundle.js"></script>
  </head>

  <body>

    <div ng-app="demo">
      <div class="code-area" ng-controller="SimpleDemoController">

        <input type="file" load-text="loadText"/>

        <textarea
          class="code-input"
          ng-change="renderCode(code.value)"
          ng-model="code.value">
        </textarea>

        <br/>

        <select
          ng-change="renderCode(code.value)"
          ng-model="selectedLanguage"
          ng-options="language as language for language in availableLanguages">
        </select>

        <br/>

        <div class="code-display">
          <pre><code ng-bind-html="code.renderedValue"></code></pre>
        </div>

      </div>
    </div>

  </body>
</html>
