<div class="pure-control-group">
  <label for="search-text"><span class="icono-search"></span></label>
  <input
    name="search-text"
    focus-when="focusOnSearchBox"
    data-on-enter="ctrl.searchForward"
    data-on-shift-enter="ctrl.searchBackward"
    ng-model="ctrl.pageSearch.searchText">
  </input>
</div>

<form class="pure-form pure-form-aligned">
  <fieldset>

    <div class="pure-control-group">
      <label for="search-wrap">Wrap-around:</label>
      <input
        type="checkbox"
        name="search-wrap"
        ng-model="ctrl.pageSearch.wrap">
      </input>
    </div>

    <div class="pure-control-group">
      <label for="search-case-sensitive">Case-sensitive:</label>
      <input
        type="checkbox"
        name="search-case-sensitive"
        ng-model="ctrl.pageSearch.caseSensitive">
      </input>
    </div>

  </fieldset>
</form>
